* {
  margin: 0;
  padding: 0;
}
body {
  width: 100vw;
  height: 100vh;
  font-family: Garamond, sans-serif;
}

.parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border: 2px rgba(0, 0, 0, 0.3);
  height: 100%;
}

.s1 {
  grid-area: 1 / 1 / 3 / 3;
  background-color: #eadecc;
  text-align: left;
  padding-left: 11%;
  padding-top: 2%;
  line-height: 1.5;
}
.s2 {
  grid-area: 1 / 3 / 6 / 7;
  background-color: #ecd3ae;
  text-align: left;
  padding-top: 2%;
  font-size: 1rem;
  padding-right: 15%;
  line-height: 1.5;
}

.s3 {
  grid-area: 3 / 1 / 6 / 3;
  background-color: #eadecc;
  text-align: left;
  padding-top: 10%;
  font-size: 1rem;
  padding-left: 5%;
  line-height: 1.5;
}

.exp,
.dip,
.lang-it {
  padding-top: 1.9%;
  padding-bottom: 4%;
  padding-left: 10%;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.pep {
  padding-bottom: 2%;
  padding-left: 4%;
  font-weight: bold;
}

.name {
  padding-bottom: 8%;
  padding-top: 8%;
  letter-spacing: 2px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 1);

}
.bio {
  padding-left: 4%;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.qual {
  padding-bottom: 2%;
  padding-left: 10%;
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.name {
  font-size: 1.25rem;
}

@media (max-width: 600px) {
  .parent {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .s1 {
    grid-area: auto;
    text-align: left;
    padding-left: 5%;
    padding-top: 2%;
    padding-bottom: 5%;
    font-size: 1.125rem;
    line-height: 1.5;
    display: flex;
    align-items: flex-start;
  }

  .s2 {
    grid-area: auto;
    text-align: left;
    padding-top: 5%;
    font-size: 1.125rem;
    padding-right: 5%;
    padding-bottom: 5%;
  }
  .exp,
  .dip,
  .lang-it {
    padding-top: 2%;
    padding-bottom: 4%;
    padding-left: 10%;
    color: rgba(0, 0, 0, 0.7);
  }
  .pep {
    padding-bottom: 2%;
    padding-left: 4%;
    font-weight: bold;
  }

  .s3 {
    grid-area: auto;
    text-align: left;
    font-size: 1.125rem;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .name {
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: 25px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 1);
  }
}
.bio {
  padding-left: 4%;
  color: rgba(0, 0, 0, 0.7);
}
.qual {
  padding-bottom: 2%;
  padding-left: 10%;
  color: rgba(0, 0, 0, 0.7);
}

.s1,
.s2,
.s3 {
  border: 2px solid #605038;
}
